/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:rgb(255, 253, 246);
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	
}
h1 a {
		text-decoration: none;
		color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	color: #B1663C;

}

h2{
	margin-top: 0.5em;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {

	color: black;
}

.selected {
	font-weight: bold;
}

li a:hover {
	color: #B1663C;
	text-shadow: 0 0 .01px #B1663C,0 0 .01px #B1663C,0 0 .01px #B1663C;
}

a img:hover {
	filter: invert(38%) sepia(92%) saturate(354%) hue-rotate(337deg) brightness(98%) contrast(87%);
}


#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
	margin-bottom: 15px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filters {
	display:flex;
	justify-content: center;
	margin-bottom: 4em;
	margin-top: 5em;
}
.filters button {
	border-radius:15px;
	border:1px solid #1D6154;
	color:#1D6154;
	background-color:white;
	padding: 5px 20px 5px 20px;
	margin:5px;
	font-family: 'Syne';
	font-size: 18px;
	
}
.connexion  {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	
}

.filters button:hover {
	cursor: pointer;
}

.filters button.selected {
	background-color:#1D6154;
	color:white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: all 100ms ease-in-out;
	
}

input[type="submit"]:hover {
	background-color: #125045;
}


#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;

}
#login p {
    margin-bottom:15em;
}

#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}



#login input:invalid {
}

#login label {
	margin: 2em 0 1em 0;
}



footer {
	background-color: white;
	padding: 0.5em;;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 1.5em
}

.admin {
	
	visibility: hidden;
	
}


.btn_publish {
	background-color: black;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:8px;
	height: 50px;
	width:100%;
}


.fa-regular fa-pen-to-square{
	width:10px;
	height:10px;
}

.btn_publish_modif {
	color:black;
	border-radius: 60px;
	background-color: white;
	border:none;
	padding: 5px 15px 5px 15px;
	font-size: small;
}
.btn_figure {
  
  
  margin: auto;
  width: 80%;
}

.btn_projects{
	color:black;
	font-size:14px;
	font-weight:100;
	font-family:'Work Sans';
	padding-left: 15px;
	vertical-align: middle;
	
}

#modal {
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.5);
	display:none;
}

.modal_box-1 {
	width:600px;
	height:700px;
	margin: auto;
	margin-top: 5%;
	background-color: white;
	border-radius: 12px;
	position: relative;
	box-sizing: border-box;
}

.modal_nav {
	font-size: 30px;
	font-family: 'Syne';
	color:#000000;
	position: absolute;
	right: 24px;
	top:12px;
	border:none;
	text-decoration:none;
	background-color: transparent;
	cursor: pointer;
	opacity:0.7;
}
.modal_nav:hover {
	opacity:1;
}
.modal_return {
	display:none;
	left: 24px;
	width: min-content;
}


#modal_title {
	color:black;
	font-weight: 100;
	font-family:'Work Sans';
	font-size: 35px;
	padding-top: 5px;
	margin-bottom: 50px;
}


.modal_gallery {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	width:70%;
	box-sizing: border-box;
	gap:15px;
}



.modal_gallery img {
	object-fit: contain;
	width:100px;;
	padding:1%;
	box-sizing: border-box;
	border: 1px solid transparent;
}
.modal_gallery img:focus {
	object-fit: contain;
	width:100px;;
	padding:1%;
	box-sizing: border-box;
	border: 1px solid yellow;
}


.modal_gallery figure {
	position: relative;
	width: min-content;
	height: min-content;
}

.modal_gallery figure:hover{
	cursor:pointer;
}

.modal_gallery .fa-solid {
	font-size: 0.7em;
	color: white;
	background-color: #000000;
	padding: 3px;
}
.fa-arrows-up-down-left-right {
	position: absolute;
	right:26px;
	top:10px;
	z-index: 1;
	display: none;
}


.fa-trash-can {
	position: absolute;
	right:8px;
	top:10px;
	z-index: 1;
}

hr {
border: 0;
  clear:both;
  display:block;
  width: 70%;               
  background-color:#cfcfcf;
  height: 2px;
  margin-bottom:5px ;
}
.modal_footer {
	position: absolute;
	width: 100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
	bottom:5%;
}

.modal_footer #addFile {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 1.5em auto;
	width: 260px;
	text-align: center;
	border-radius: 60px;
	font-size: 16px;
	padding: 8px 14px 8px 14px;
	transition: all 100ms ease-in-out;
	border:none;
}
.modal_footer #addFile:hover {
	background-color: #125045;
	cursor: pointer;
}

.modal_footer .delete {
	all:unset;
	text-align: center;
	color:  #cb4912;
	font-family: 'Syne';
}

.modal_box-2 {
	width:600px;
	height:600px;
	margin: auto;
	margin-top: 5%;
	background-color: white;
	border-radius: 12px;
	position: relative;
	box-sizing: border-box;
}

.modal_footer #validate {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 260px;
	text-align: center;
	border-radius: 60px;
	font-size: 16px;
	padding: 8px 14px 8px 14px;
	transition: all 100ms ease-in-out;
	border:none;
}
.modal_footer #validate:hover {
	background-color: #125045;
	cursor: pointer;
}

.modal_bod {
	display: flex;
	width: 400px;
	margin:auto;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.fa-image {
	font-size: 3em;
	color: #dadada;
	margin-bottom: 4px;
}
.modal_upload{
	width: 100%;
	height: 40%;
	
	
}
.modal_upload-1{
	width: 400px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(229, 239, 245);
	gap:8px;
	margin-bottom: 15px;
}

#upload {
	display : none;
}

#add_btn {
	background-color:#dadada; ;
	border-radius: 60px;
	color: rgb(125, 141, 198);
	font-size: 12px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	border:none;
	padding:10px 20px 10px 20px;
	cursor: pointer;
 }

 
 .modal_upload-2{
	width: 400px;
	padding: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	background-position: center;
	background-size: contain;
	gap:15px;
	text-align: left;
}

.modal_upload-2 input, select {
	box-shadow: 0 5px 5px rgb(229, 229, 229);
	border:none;
	background-color: white;
	height: 40px;
	vertical-align: middle;
}



.modal_upload-1 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: contain;
}


